{% extends 'base.html'%}
{% block content %}

<div
  id="index1">
  <div id="index2">
    <h1 class="textoBlanco">DVDede</h1>

    <div class="Buscador" id="index3">
      {% if busqueda %}
      <input type="text" id="buscador" name="buscador" id="index4"
        value="{{busqueda}}">
      {% else %}
      <input type="text" id="buscador" name="buscador" placeholder="Buscar"
        id="index5" value="">
      {% endif %}
      {% if genero %}
      <select id="filtrado">
        <option hidden selected>{{genero}}</option>
        <option>All</option>
        {% for g in generos %}
        <option>{{g[0]}}</option>
        {% endfor %}

      </select>
      {% else %}
      <select id="filtrado">
        <option selected>All</option>
        {% for g in generos %}
        <option>{{g[0]}}</option>
        {% endfor %}
      </select>
      {% endif %}
      <button id="index6" onclick="sendToPage()">Buscar</button>
      <button id="index6" onclick="sendToHomePage()">topActors</button>
    </div>
  </div>
</div>



  <table class="topActors">
<thead>
    {% if genre %}
    <th class="TActorsH">Top Actors {{genre}}</th>
    {%else%}
    <th class="TActorsH">Top Actors Action</th>
    {%endif%}
  </thead>
{% for act in topActors %}
    <tr>
      <td><p>{{act.actor}}</p></td>
      <td><p>{{act.num}}</p></td>
      <td><p>{{act.debut}}</p></td>
      <td>
        <a href="../pelicula/{{act.movieid}}"><p>{{act.film}}</p></a></td>
      <td><p>{{act.director}}</p></td>
    </tr>
{% endfor %}
  </table>

<script type="text/javascript">
  function sendToPage() {
    var input = document.getElementById("buscador").value;
    var input2 = document.getElementById("filtrado").value;
    if (input != "" && input2 == 'All') {
      location.replace(location.origin + '/buscar/' + input);
    }
    else if (input == "") {
      location.replace(location.origin + '/filtrar/' + input2);
    }
    else {
      location.replace(location.origin + '/buscar/' + input2 + '/' + input);
    }
  }
  function sendToHomePage() {
    var input = document.getElementById("filtrado").value;
    if (input == 'All') {
      location.replace(location.origin + '/home/Action');
    }
    else {
      location.replace(location.origin + '/home/' + input);
    }
  }
</script>
<div class="topSales">
<h1 class="textoBlanco">Top 4 last movies</h1>
<ul class="thumbnails">
{% for pelicula in peliculas %}
<a href="../pelicula/{{pelicula['id']}}">
  <p>{{pelicula['year']}}</p>
  <img id=poster src="https://loremflickr.com/300/500/movie%20poster?random={{pelicula['id']}}">
  <!--<img src="/static/imagenes/placeholder.png"> -->


  </img>
  <div class="overlay">{{pelicula['movie']}}
  </div>

</a>
{% endfor %}
</ul>
</div>
{% endblock %}
<!--
</body>

</html>
-->