{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="login">
  <form method="post" action="{% url 'login' %}" class="login_label">
    {% csrf_token %}
       {{form.as_p}}
    <input type="submit" value="login" class="login_button">
  </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}" id="login_lost_password">Lost password? </a></p>
  </div>








{% endblock %}