

body {
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(73,0,0,1) 51%, rgba(0,0,0,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border: black;
  border-style: solid;
  border-width: 5px;
}

.carritoCompra {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgb(19, 19, 19);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.carritoPeliculaImagen{
  width: 5vw;
}

.carritoDetallesPelicula {
  display: block;
}

.modifyQuantityButton{
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 40%;
  margin-left: 10px;
  margin-right: 10px;
}

.quantity {
  display: flex;
  float: right;
  left: 50%;
  padding: 20px;
}

.quantity h2 {
  font-size: 30px;
}
.quantity p {
  font-size: 20px;
}

.productoCarrito {
  display: block;
  border: 2px solid grey;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: darkgrey;
  transition: 0.3s;
}


.productoCarrito:hover {
  color: #f1f1f1;
}

#botonCerrarCarritoCompra {
  border: 0px;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  
}


.finalizarCompra{
  position:sticky;
  float: right;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  bottom: 100px;
  right: 25px;
  width: 200px;
  background-color: transparent;
  border: 2px solid yellow;
  transition: .5s;
}

.finalizarCompra:hover{
  color: black;
  background-color: yellow;
}

.finalizarCompra2{
  float: right;
  position: fixed;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  bottom: 100px;
  right: 25px;
  width: 200px;
  background-color: transparent;
  border: 2px solid yellow;
  transition: .5s;
}

.finalizarCompra2:hover{
  color: black;
  background-color: yellow;
}



.container {
  position: relative;
  width: 25vw;
}

.container img {
border: 1px solid grey; /* Gray border */
width: 25vw; /* Set a small width */
margin-top: 8px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 25vw;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 2vw;
  margin-bottom: 3px;
  padding-right: 2px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.row {
  margin-top: 20vh;
  width: 100%;
  display: flex;
}


/* Create two equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}


.textoBlanco{
  color:white;
  float: left;
}


.añadirCarrito {
  width: 30%;
  float:right;
  margin-right: 30px;
  width:80px;
  background-color: rgb(178, 253, 134);
  border: 5px solid rgb(47, 42, 42);
  border-radius: 10px;
  
}


/* Navigation bar*/

.navbar {
  z-index: 2;
  position: fixed;
  top:0%;
  left: 0;
  width: 100%;
  background-color: rgb(87, 87, 87);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #000;
}

.navFirst {
  background-color: #2d4174;
}

.logOut {
  background-color: #d1413c;
}

.logIn {
  background-color: #3c813a;
}

/* Movie details */
/* Actors */
.actorsDisplay  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.actorCharacter {
  width: 500px; /* Set a small width */
  margin-top: 8px;
  float: left;
  padding: 12px 0px 0px 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

/* Register page */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.registerButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.registerButton:hover {
  opacity: 0.8;
}

/*
span.psw {
  float: right;
  padding-top: 16px;
}
*/


/*Esto es para mostrar las thumbnails de las peliculas*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.thumbnails {
  padding-top: 10%;
  overflow: hidden;
}
.thumbnails a {
  float: left;
  width: 25%;
  position: relative;
  padding: 1px;
  min-height: 50vh;
  overflow: hidden;
}
.thumbnails a img {
  max-width: 100%;
  display: block;
  position: absolute;
  max-height: 500px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 25px;
  text-align: center;
}

.thumbnails a:hover .overlay {
  opacity: 1;
}


#detallePelicula {
  padding-top: 10%;
}


/*Pie de pagina*/

.pieDePagina {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(97, 97, 97, 0.205);
  text-align: right;
}
.pieDePagina p {
  color: white;
  padding-right: 3vw;

}

/*Pagina pago*/
#pago {
  padding-top: 10vh;
}
#pago a {
  color: black;
  text-decoration: none;
  padding-top: 10vh;
}
td {
  color: white;
  border: 2px solid wheat;
}
.containerCheckout {
  position: absolute;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  left:50%;
  margin-left: -15vw;
  width: 30vw;
}
span.price {
  float: right;
  color: grey; 
}

#discount:checked~*.newPrice{
  opacity: 1;
}

.newPrice {
  opacity: 0;
}


/*Pagina log in*/
#logInForm {
  position: absolute;
  padding-top: 10vh;
  left:50%;
  margin-left:-12.5vw;
}

/*Pagina log in*/
#registerForm {
  position: absolute;
  padding-top: 10vh;
  left:50%;
  margin-left:-12.5vw;
}


a {
  color: greenyellow;
  text-decoration: none;
}



/* Password Strength meter */
/**************************/

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
/**********************/


.catalogoHeader {
  border-bottom: 3px solid white;
   background-color: rgba(0, 0, 0, 0.61);
  left: 0;
  width: 100%;
  top: 0%;
  position: fixed;
  z-index: 1;

}


.removeOrder {
  background-color:transparent;
  color: red;
}

.paginaCarrito {
  display:inline-block; 
  width: 95%;
  padding-top: 5%;
  padding-left: 1vw;
}

.productos {
  margin-top: 7%;
}


#editarCarrito {
  border: 0px;
  position: absolute;
  top: 10px;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: underline;
}

#saldoAñadido {
  float: right; 
  color: greenyellow;
}


/*******************************/
/* Barra base */
#barra1 {
  right:3vw;
  position:fixed;
  z-index: 2;
}

#barra2 {
  font-size: 20px;
}

#barra3 {
  font-size: 15px;
}

#menuLatBarra {
  font-size:35px;
  cursor:pointer;
   float: right
}

#barraEditarCarrito {
  float: right;
}

#barraCarritoVacio {
  color: white;
}

/******************/

/* Detalle película */

#detalle1{
  min-width:20%; float:left;
}
#detalle2{
  width:70%; float:right;
}
#detalle3{
  width:80%; float:left;
}
#detalle4{
  width:70%; float:right;
}

/******************/
/* Historial */

#historial1 {
  padding-top:20vh; width: 100%; align-content: center;
}
#historial2 {
  color: white;
}
#historial3 {
  width: 100%;
}


#historial4 {
  float: right;
}

/******************/
/* Index */

#index1 {
  border-bottom: 3px solid white; background-color: rgba(0, 0, 0, 0.61); left: 0; width: 100%; top: 0%; position: fixed; z-index: 1;
}

#index2 {
  display:inline-block; width: 95%; padding-top: 7vh; padding-left: 1vw;
}
#index3 {
  float: right;
}
#index4 {
  width: 20vw; height: 1vw; border-radius: 4px;
}
#index5 {
  width: 20vw; height: 1vw; border-radius: 4px;
}
#index6 {
  width:7vw;
}

#filtrado {
  height: 3vh; border-radius: 4px;
}
/*****************/
/* Pago */

#pago1{
  color:black;
}

/*****************/
/* Error message */
.errorMessage{
  background-color: red;
  color: white;
}

.imgHistorial {
  width: 10vw;
}


/*****************/
/* Listado de productos al añadir al carrito en movie detail */
.producto {
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

.productoDescripcion {
  width: 30%;
  float: left;
}

.productoPrecio {
  width: 30%;
  float: right;
}

#paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagText {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.topActors{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.TActorsH{
  color: white;
  text-decoration-color: white;
}


.topSales {
  position: absolute;
  top: 60%;
  width: 100%;
}