body {
    background-color: rgb(255, 248, 234);
    color: rgb(7, 7, 7);
    display: block;
    /* #fffbe rgb(35, 172, 214)*/
}

.linkButton {
    border: 2px solid rgb(8, 92, 15);
    font-weight: bold;
    text-decoration: none;
    padding: 5px 5px;
    color: rgb(8, 92, 15);
    font-size: 25px;
    transition: 0.5s;
    border-radius: 10px;
}

.linkButton:hover {
    background-color: rgb(8, 92, 15);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

img {
    border-style: solid;
    color: rgb(7, 7, 7);
    border-width: 5px;
    display: block;
}

#BookDEDE {
    display: block;
    font-family: 'georgia';
    font-size: 20px;
    font-weight: bold;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

#navigation {
    font-weight: bold;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width: auto;
}

#home {
    float: left;
}

.bookContainer {
    display: flex;
    flex-wrap: wrap;
}

.bookContainer li {
    flex-basis: 20%;
}


/********************************/

.bookText {
    overflow: hidden;
    height: 0;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

.bookTitle {
    font-weight: bold;
    text-decoration: none;
    color: rgb(8, 92, 15);
    font-size: 25px;
    transition: 0.5s;
}

.bookBox {
    margin: 5px;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

.bookBox:hover>.bookText {
    transition: 0.6s ease-in-out;
    height: 200px
}


/********************************/

.bookSearchContainer {
    display: flex;
    padding-top: 20px;
}

.bookSearchContainer a img {}

.searchDetailsContainer {
    margin-left: 20px;
    display: block;
}

.pagination {
    display: flex;
    justify-content: center;
}

.footer {
    float: right;
}

.searchbar {
    left: 20px;
    position: relative;
    width: 230px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 10px 12px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out linear;
}

.searchbar:focus {
    width: 40%;
    animation-name: animateSearch;
    animation-duration: 0.4s;
    left: 30%;
    background-color: rgba(240, 248, 255, 0.473);
    position: fixed;
}

@keyframes animateSearch {
    0% {
        left: 20px;
    }
    100% {
        left: 30%;
    }
}

li {
    list-style-type: none;
}

.BookDEDE {
    overflow: hidden;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 30px/normal "Anton", Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 10px;
    text-shadow: 2px 2px 0 rgb(238, 238, 238), 3px 3px 0 rgb(112, 112, 112);
    overflow: hidden;
    transition: 1s linear;
    max-height: 100px;
}

.DEDE {
    transition: 1s linear;
}

.BookDEDE:hover>.DEDE {
    color: rgb(8, 92, 15);
    text-shadow: 2px 2px 0 rgb(238, 238, 238), 3px 3px 0 rgb(8, 92, 15);
    font: normal 40px/normal "Anton", Helvetica, sans-serif;
}

.BookDEDE:hover {
    font: normal 20px/normal "Anton", Helvetica, sans-serif;
}


/********************************/


/* Delete button */

.deleteButton {
    background-color: rgb(255, 16, 16);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.classicButton {
    border-color: rgb(8, 92, 15);
    background-color: transparent;
    border-radius: 10px;
    color: rgb(8, 92, 15);
    transition: 0.5s;
}

.classicButton:hover {
    border-color: rgb(8, 92, 15);
    background-color: rgb(8, 92, 15);
    color: white;
}


.row{
    display: block;
    width: 100%;
}

.ImageDetails {
    display: flex;
}
.details{
    margin-left: 30px;
}

/********************************/


/* Login */
.login  {
    
    position: fixed; /* Stay in place */

    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    background-color: white;
    border: 1px solid black;
    border-width: 1px;
    padding: 10px;

    transition: 0.4s;
    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}

.login:hover{
    border-width: 4px;
    transition: 0.2s;
}



.login_button   {
    background-color: rgb(8, 92, 15);
    color: white;
    border: 1px solid black;
    border-width: 4px;
    float: right;
    width: 100%;
    display: block;
    font-size: 20px;
}

.login_button:hover {
    transition: 0.2s;
    background-color: rgb(38, 122, 45)
}

.login_label    {
    float: left;

}


#login_lost_password    {
    color: rgb(8, 92, 15);


}

.comment{
    background-color: rgb(252, 249, 243);
    border: 4px solid black;
    border-radius: 10px;
}

.comment:hover{
    background-color: rgba(8, 92, 15, 0.24);
    transition: 0.2s;
}

.username{
    color: rgb(8, 92, 15);
    font-size: 20px;
}
.date{
    margin-top: -10px;
    color: rgb(118, 121, 119);
    font-size: 12px;
}

.quantity   {
    float: right;
    width: auto;
    padding: 10px;
    margin-right: 20%;

    
}

.quantity > input   {
    margin: 5px;
    background-color: white;
    border: 4px solid rgb(8, 92, 15);
    color: black;
    
}

.quantity > label   {
    color: rgb(8, 92, 15);
    font-size: 20px;
}


.paginationNum {
    line-height: 50px;
    background-color: rgb(8, 92, 15);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: center;
    color: white;
}

.page-links {
    display: flex;
}
.navPageL {
    height: 20px;
    margin-top: 30px;
    margin-right: -10px;
    border-radius: 10px;
    background-color: rgb(8, 92, 15);
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.navPageR {
    height: 20px;
    margin-top: 30px;
    margin-left: -10px;
    border-radius: 10px;
    background-color: rgb(8, 92, 15);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/********************************/