{% extends 'base.html'%}
{% block content %}
    
    <div style="padding-top:20vh; width: 100%; align-content: center;">
    <h1 class="textoBlanco">Historial</h1>
    {% if añadido == true %}
    {% endif %}
    <form action="../historial" method='POST' style="float: right;">
        <p style="color: white;">Añadir saldo: 
        <input type="number" step="0.01" min="0" name="saldo">
        <input type="submit" value="Añadir saldo"></p>
    </form>
    {% if añadido==true %}
    <br>
    <br>
        <p id="saldoAñadido">Saldo añadido correctamente</p>
    {% endif %}
        {% if historial|length < 1 %}
        <br>
        <br>
        <br>
        <br>
        <p style="color: white;">Aun no se ha realizado ninguna compra</p>

        {% else %}
        <table class="productosHistorial" style="width: 100%;">
            
        {% for purchase in historial %}
            <tr>
                <a href="detalle_pelicula.html">
                    <td>hola</td>
                    </a>
            </tr>
          </table>
        {% endfor %}
          
        {% endif %}
    </div>

{% endblock %}